<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> NSLocationWhenInUseUsageDescription</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>善医健康</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>善医健康</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx1ff6993d14670f05</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>善医健康需要访问您的相机</string>
	<key>NSHealthShareUsageDescription</key>
	<string>善医健康访问您的健康应用数据</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>善医健康访问您的健康应用数据</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>善医健康将访问您的位置数据</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>善医健康需要访问您的话筒</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>善医健康需要访问您的相册</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>是否允许善医健康使用语音识别</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>scan</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>扫一扫</string>
			<key>UIApplicationShortcutItemType</key>
			<string></string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>erweima</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>我的二维码</string>
			<key>UIApplicationShortcutItemType</key>
			<string></string>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>healthkit</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
